@import 'src/styles/variables.scss';

.button {
  padding: $space-medium;
  width: max-content;
  height: max-content;

  color: $primary;
  background-color: $secondary;
  font-weight: $font-weight-normal;

  &:hover {
    cursor: pointer;
  }

  /*------------SIZES------------*/
  &.small {
    font-size: $font-size-small;
    border-radius: $space-small;
  }
  &.medium {
    font-size: $font-size-medium;
    border-radius: $space-medium;
  }
  &.large {
    font-size: $font-size-large;
    border-radius: $space-medium;
  }

  /*------------FONTS------------*/
  &.bold {
    font-weight: $font-weight-bold;
  }
}
